body{
	background-color: pink;
	font-family: sans-serif;
	}
.container{
	font-size: 20px;
   	padding: 20px 10px;
	}
.container ul{
	font-size: 26px;
	text-align: center;
	font-size: 20px;
}
h1{
	text-align: center;
	background-color: maroon;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	}
table{
	background: transparent;
	margin:auto;
	color: black;
	width: 80%;
	}
.awal{
   	width: 500px; 
   	text-align: center;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
   	border-radius: 15px;
  	padding: 15px auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
	}

.awal img{
   	width: 250px;
	}
.awal:hover{
   	box-shadow: 0 0 7px rgba(0,0,0,.5);
   	transition: .3s;
	}

.awal button{
  	padding: 10px 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: blue;
    color: white;
    letter-spacing: 1px;
	}
.awal button:hover{
  	background-color: white;
	}

.awal h1, .awal img, .awal h4{
  	margin-bottom: 25px;
	}
@media only screen and (max-width: 720px){
	body{
		background-color: grey;
		}
	table{
		width: 100%;
		}
	h1{
		text-align: center;
		background-color: purple;
		color: white;
		width: 100%;
		margin: auto;
		}
	td{
		padding: 10px;
		}
		}